name: Build Windows

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build Windows
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v3

      # - name: Install Ninja
      #   run: choco install ninja

      # - name: Build
      #   run: |
      #     mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -GNinja .. && ninja

      - name: Build
        run: |
          mkdir build && cd build && cmake .. && cmake --build . --config Release

      - name: Upload build directory as artifact
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: build-directory
          path: build/